.p2background{
    min-width: 100%;
    min-height: 100%;
    background:url(../images/reportinglive.jpg) center center no-repeat;
    width:100vw;
    height: 100vh;
}

#newsBoardContainer {
    background-color: black;
}

html, body {
    max-height: 100%;
    max-width: 100%;
}
