#navContainer {
    display: flex;
    flex-direction: row;
    margin-left: 850px;

}

#navOne {

}
#navTwo {
    margin-left: 50px;
}
#navThree {
    margin-left: 50px;
}

.nav-link {
    margin: 0 35px;
}

.nav {
    justify-content: flex-end;
}

.potd-align {
    text-align: center;
}

.mainNews {
    display: flex;
}